<template>
  <div class="burger">
    <v-app-bar-nav-icon @click="$emit('onDrawer')" ></v-app-bar-nav-icon>
  </div>
</template>

<script>
export default {
  data: () => ({
   
  }),

};
</script>

<style></style>
