<template>
  <div class="card">
    <div class="card-header">{{ header }}</div>
    <div class="divider"></div>
    <div class="card-body">{{ dataCount }}</div>
    <div class="card-footer"></div>
  </div>
</template>

<script>
export default {
  props: {
    header: String,
    dataCount: Number,
  },
};
</script>

<style scoped lang="scss"></style>
