<template>
  <v-menu offset-y transition="slide-y-transition">
    <template v-if="this.$route.path == `/`" v-slot:activator="{ on, attrs }">
      <v-icon light class="mlr-1" v-bind="attrs" v-on="on"
        >mdi-view-grid-outline</v-icon
      >
    </template>
    <template v-else v-slot:activator="{ on, attrs }">
      <v-icon dark class="mlr-1" v-bind="attrs" v-on="on"
        >mdi-view-grid-outline</v-icon
      >
    </template>
    <v-card>
      <a class="items">App 1</a>
      <a class="items">App 2</a>
      <a class="items">App 3</a>
      <a class="items">App 4</a>
    </v-card>
  </v-menu>
</template>

<script>
export default {};
</script>

<style scoped lang="scss">
.items {
  width: 85px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}
</style>
