<template>
  <v-text-field
    filled
    v-model="search"
    rounded
    label="Search Data"
    prepend-inner-icon="mdi-magnify"
    v-on:keyup.enter="searchData"
  ></v-text-field>
</template>

<script>
export default {
  data: () => ({
    search: "",
  }),
  methods: {
    searchData() {
      console.log(this.search);
      this.$router.push({
        name: "Search",
        params: {
          search: this.search,
        },
      });
    },
  },
};
</script>

<style></style>
