<template>
  <div class="nav">
    <Logo v-if="this.$route.path != `/`" color="#fff">DSM</Logo>

    <div class="nav-items">
      <ul v-if="this.$route.path != `/`">
        <li>
          <router-link exact-active-class="active" to="/">Home</router-link>
        </li>
        <li>
          <router-link exact-active-class="active" to="/Data"
            >Navlink2</router-link
          >
        </li>
        <li>
          <router-link exact-active-class="active" to="/Metadata"
            >Navlink3</router-link
          >
        </li>
      </ul>
      <div class="nav-items-end">
        <Search v-if="this.$route.path != `/`" />
        <AppMenu />
        <Userbuttons userName="Fullname" />
      </div>
    </div>
  </div>
</template>

<script>
import { Logo, Search, AppMenu } from "../Ui";
import Userbuttons from "./Userbutton";

export default {
  data: () => ({
    items: [{ title: "Logout" }],
  }),
  components: {
    Logo,
    Userbuttons,
    Search,
    AppMenu,
  },
  computed: {
    style() {
      return {
        background: this.userName ? "#fafafa" : "#fff",
      };
    },
  },
  methods: {},
};
</script>

<style scoped lang="scss">
.nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  .nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    ul {
      display: flex;
      flex-direction: row;
      li {
        list-style: none;
        margin-left: 20px;
        a {
          color: #fff;
          text-decoration: none;
          padding: 25px 0;
          text-transform: uppercase;
          &:hover {
            color: #000;
          }
          &.active {
            padding: 25px 0;
            border-bottom: 4px solid #fff;
          }
        }
      }
    }
    .nav-items-end {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 100%;
      margin-right: 20px;
      /* input {
        width: 200px;
        height: 30px;
        border: 1px solid #fff;
        border-radius: 50px;
        padding-left: 10px;
        &:focus {
          outline: none;
        }
      } */
      .menu {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        font-size: 20px;
        color: #fff;
        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
          cursor: pointer;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          transition: all 0.3s ease-in-out;
          top: -2px;
          position: relative;
        }
      }
      .user {
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-weight: bold;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
          cursor: pointer;
          color: #fff;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          transition: all 0.3s ease-in-out;
          top: -2px;
          position: relative;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .nav {
    .nav-items {
      display: none;
    }
  }
}
</style>
