<template>
  <div class="navigation">
    <v-tabs background-color="deep-purple accent-4" center-active dark>
      <v-tab v-on:click="onClick(1)">One</v-tab>
      <v-tab v-on:click="onClick(2)">Two</v-tab>
      <v-tab v-on:click="onClick(3)">Three</v-tab>
    </v-tabs>
  </div>
</template>

<script>
export default {
  methods: {
    onClick(id) {
      var toitem = document.getElementById(`${id}`);
      window.scrollTo(0, toitem.offsetTop);
    },
  },
};
</script>

<style lang="scss" scoped></style>
