<template>
  <v-menu transition="slide-y-transition" offset-y>
    <template v-slot:activator="{ on, attrs }">
      <v-avatar class="mlr-1" color="primary" v-bind="attrs" v-on="on">{{
        userName.charAt(0)
      }}</v-avatar>
    </template>
    <v-list>
      <v-list-item v-for="(item, index) in items" :key="index" link>
        <v-list-item-title v-text="item.title"></v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script>
export default {
  props: {
    userName: String,
  },

  data: () => ({
    items: [{ title: "Logout" }],
  }),
};
</script>

<style></style>
