<template>
  <div class="detail">
    <div id="guide">
      <Navigator></Navigator>
    </div>
    <ColWrapper>
      <SectionConent id="1">A</SectionConent>
      <SectionConent id="2">B</SectionConent>
      <SectionConent id="3">C</SectionConent>
    </ColWrapper>
  </div>
</template>

<script>
import { Navigator } from "../dsm-template/Ui";
import { ColWrapper, SectionConent } from "../dsm-template/Layout";

export default {
  components: {
    Navigator,
    ColWrapper,
    SectionConent,
  },
  mounted() {
    window.onscroll = () => {
      var g = document.getElementById("guide");

      if (window.scrollY > 50) {
        g.classList.add("fixed");
      } else {
        g.classList.remove("fixed");
      }
    };
  },
};
</script>

<style lang="scss" scoped>
.fixed {
  position: fixed;
  width: 100%;
  top: 75px;
  left: 0;
  right: 0;
  z-index: 1;
}
</style>
