<template>
  <div class="Home">
    <div class="Logo">DSM Logo</div>
    <div class="Search">
      <InputSearch />
    </div>
    <div class="preview">
      <CardPreview header="Data Example" :dataCount="14214124"></CardPreview>
      <CardPreview header="Data Example" :dataCount="14214124"></CardPreview>
      <CardPreview header="Data Example" :dataCount="14214124"></CardPreview>
      <CardPreview header="Data Example" :dataCount="14214124"></CardPreview>
    </div>
  </div>
</template>

<script>
import { InputSearch, CardPreview } from "../dsm-template/Ui";

export default {
  name: "Home",
  components: {
    InputSearch,
    CardPreview,
  },
};
</script>

<style lang="scss"></style>
