<template>
  <RowWrapper>
    <Sider
      v-if="this.$route.path == `/search/${this.$route.params.search}`"
      background="#9966CC"
    >
      Filter
    </Sider>
    <ColWrapper>
      <DataList></DataList>
    </ColWrapper>
  </RowWrapper>
</template>

<script>
import { Sider, RowWrapper, ColWrapper } from "../dsm-template/Layout";
import { DataList } from "../dsm-template/Ui";

export default {
  components: {
    Sider,
    RowWrapper,
    ColWrapper,
    DataList,
  },
};
</script>

<style></style>
