.v-icon.notranslate.mlr-1.v-icon--link.mdi.mdi-view-grid-outline.theme--dark::after {
    border-radius: unset !important;
    height: 25px !important;
    top: 12px;
}

.v-icon.notranslate.mlr-1.v-icon--link.mdi.mdi-view-grid-outline.theme--light::after {
    border-radius: unset !important;
    height: 25px !important;
    top: 12px;
}

.v-card.v-sheet.theme--light {
    display: flex !important;
    width: 300px !important;
    height: 100%;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    gap: 10px;
    padding: 10px;
}
