* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

.theme--light.v-application {
    background-color: #fafafa !important;
}

.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Logo {
    width: 300px;
    height: 300px;
    display: flex;
    background-color: #bdbdbd;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.Search {
    width: 400px;
    @media screen and (max-width: 768px) {
        width: 300px;
    }
}

.preview {
    width: 800px;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // justify-content: space-between;
    gap: 15px;
    @media screen and (max-width: 768px) {
        width: 100%;
        justify-content: center;
    }
    @media screen and (max-width: 375px) {
        flex-direction: column;
        align-items: center;
    }
}
