.m-1 {
    margin: 10px;
}

.mlr-1 {
    margin: 0 10px;
}

// .input-append {
//     position: relative;
//     input {
//         width: 200px;
//         height: 30px;
//         border: 1px solid #fff;
//         border-radius: 50px;
//         padding-left: 30px;
//         &:focus {
//             outline: none;
//         }
//     }
//     .append-left {
//         position: absolute;
//         top: 16px;
//         left: 18px;
//         z-index: 1;
//     }
// }
