<template>
  <v-app>
    <Wrapper>
      <NoNav v-if="this.$route.path == `/`"><Navbar /> <BurgerMenu @onDrawer="drawer = !drawer"  /></NoNav>
      <Header v-else background="#9966CC"
        ><Navbar /><BurgerMenu @onDrawer="drawer = !drawer" />
       </Header>
      <HomeContent v-if="this.$route.path == `/`">
        <Home></Home>
      </HomeContent>
      <Content v-else>
        <router-view></router-view>
      </Content>
      <Footer background="#9966CC"></Footer>
    </Wrapper>
    <v-navigation-drawer v-model="drawer" fixed right temporary>
      <v-list nav dense>
        <v-list-item-group
          v-model="group"
          active-class="deep-purple--text text--accent-4"
        >
          <v-list-item>
           <router-link to="/"> <v-list-item-title> Home</v-list-item-title></router-link>
          </v-list-item>

          <v-list-item>
            <v-list-item-title>Bar</v-list-item-title>
          </v-list-item>

          <v-list-item>
            <v-list-item-title>Fizz</v-list-item-title>
          </v-list-item>

          <v-list-item>
            <v-list-item-title>Buzz</v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
  </v-app>
</template>

<script>
import {
  Wrapper,
  Header,
  Content,
  Footer,
  NoNav,
  HomeContent,
} from "./dsm-template/Layout";
import Navbar from "./dsm-template/components/Navbar";
import { BurgerMenu } from "./dsm-template/Ui";
import Home from "./views/Home";

export default {
  name: "App",
  components: {
    Wrapper,
    Header,
    Content,
    Footer,
    Navbar,
    NoNav,
    HomeContent,
    Home,
    BurgerMenu
  },
  data: () => ({
    drawer: false,
    group: null,
  }),
  watch: {
    group() {
      this.drawer = false;
    },
  },
};
</script>

<style lang="scss">
@import "./dsm-template/Style/Global.scss";
@import "./dsm-template/Style/Space.scss";
@import "./dsm-template/Style/CustomVuetify.scss";
</style>
